* {
  font-family: sans-serif;
  box-sizing: border-box;
}

div.customer {
    border-top: 2px solid black;
}

table {
    border-collapse: collapse;
    font-size: 80%;
}

td {
    border: 1px solid black;
    padding: 3px;
}

.right {
    float: right;
}
